<a href="https://colab.research.google.com/github/merriekay/j23_cs167_notes/blob/main/Day02_P2_Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS167: Day02 
## Part 2: Practicing with Pandas

#### CS167: Machine Learning, J-Term 2023

Wednesday, January 4th, 2023 -- Session II (10:20-11:35)

[⏮ Day02 Part 1]() [⏩ Day03 Part 1]()

## Admin Stuff:

You should be working on: 
- Notebook 0: Onboarding was due (although you didn't have anything to turn in) before class
- Notebook #1 is released today, and will be due before class on Thursday 1/5.

# Notebook #1: Python, Pandas and Pokemon, Oh My!

I give you starter code, `notebook1_starter.ipynb`, please use it.
There are 6 exercises, each worth 1 point. 

The dataset for this notebook can be found on Blackboard. 

[Link to Notebook #1](https://classroom.github.com/a/FNH0KzX1)

# Pandas Practice Exercises
These are some exercises for you to practice playing around with pandas. 
- these are not going to be turned in, they're just practice.
- I'll post solutions tonight

I hope these exercises will leave you in a good spot to tackle Notebook #1. 

## Let's get started
Before you begin, make sure that you download the data from Blackboard and put it in your Google Dive wher eyou know how to find it (preferable in a datasets folder).

In [ ]:
#selecting columns in dataframes
import pandas
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#import the data:
#make sure the path on the line below corresponds to the path where you put your dataset.
titanic = pandas.read_csv("/content/drive/MyDrive/CS167/datasets/titanic.csv")
titanic.head()

In [ ]:
# what is the data type of titanic?

In [ ]:
# what are the features (column titles) of the titanic dataset?

In [ ]:
# display only the 'embark_town' column of the titanic data

In [ ]:
# what is the data type of the result of the previous cell?

In [ ]:
# what is the "shape" of the data frame?

In [ ]:
# make a subset (call the variable 'subset') of the data that consists of the last 20 rows of the data;
# verify that your subset has 20 rows

In [ ]:
# use loc to print out the data for passenger 890 on the titanic dataframe
# use iloc to print out the data for passenger 890 on the subest dataframe

In [ ]:
# use a markdown cell; describe the difference between loc and iloc

In [ ]:
# create a subset of the data (call the variable 'queenstown_subset') that consists only of passengers with
# a 'embark_town' that is "Queenstown"
# hint: if you get a warning, you may need to explicitly note that you are making a copy of the original data by using 
# the .copy() function

In [ ]:
# how many passengers are in queenstown_subset?

In [ ]:
# what is the average fare for all of those in the queenstown_subset?

In [ ]:
# what is the average age for all of those in the queenstown_subset?
# do all of the passengers have an age recorded? What is recorded if there is no age?

In [ ]:
# What does unique(), mean(), isnull(), and fillna() do? Use a markdown cell to write your answers
# Use the Pandas documentation (https://pandas.pydata.org/pandas-docs/stable/reference/index.html)

In [ ]:
# give examples of your use of unique(), mean(), median(), isnull()

In [ ]:
# in the queenstown_subet dataframe
# for each row that does not have an age recorded, replace the NaN value with the calculated average
# hint: don't use a loop; it can be done in 1 line of code using fillna()

In [ ]:
# load in the iris data
# what is the median sepal width of just the Setosas?

In [ ]:
# for those iris that are classified as versicolor and have 
# a petal-length > 4, what is the average sepal width?

Congrats! Now you're ready to move on to Notebook #1!